.card-container {
  perspective: 1000px;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-container:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.card-back__img {
  width: 100px;
  height: 100px;
}
