#grid-container {
  display: grid;
  height: 50%;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 0px;
}

#title {
  height: 20vh;
}

#restart {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
#game-info {
  margin: 0;
}

.card-container {
  perspective: 1000px;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: url("images/back.png") no-repeat;
  background-size: cover;
  color: black;
}

.card-back {
  color: white;
  transform: rotateY(180deg);
}
.card-back__img {
  width: 100px;
  height: 100px;
}

button {
  border: none;
}
