@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
#grid-container {
  padding: 30px;
  background-color: #b6ad90;
  border-radius: 40px;
  display: flex;
  width: 80vw;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.difficulty {
  width: 80vw;
  max-width: 500px;
  display: flex;
}

button {
  border: none;
}

.difficulty__button,
#restart {
  font-family: "MuseoModerno", sans-serif;
  height: 40px;
  width: 30%;
  margin: 10px;
  background-color: #a68a64;
  border: 2px solid #7f4f24;
  border-radius: 25px;
  box-shadow: rgba(93, 73, 50, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.difficulty__button:hover,
#restart:hover {
  background-color: #936639;
}

#title {
  width: 80vw;
  max-width: 500px;
}

#restart {
  display: none;
}

body {
  font-family: "MuseoModerno", sans-serif;
  background-color: #c2c5aa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
}

#game-info {
  width: 80vw;
  max-width: 500px;
  height: 50px;
  margin: 10px;
  font-weight: bolder;
  background-color: #656d4a;
  color: #c2c5aa;
  text-align: center;
  align-content: center;
  border-radius: 25px;
}

.card-container {
  margin: 5px;
  perspective: 1000px;
  width: 20%;
  aspect-ratio: 3/4;
  background-color: rgba(50, 50, 93, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-inner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: url("images/back.png") no-repeat;
  background-size: cover;
  color: black;
}

.card-back {
  color: white;
  transform: rotateY(180deg);
}
.card-back__img {
  background-size: cover;
}
