@use "./modules/colours" as colours;

#grid-container {
  padding: 30px;
  background-color: colours.$khakiBeige;
  border-radius: 40px;
  display: flex;
  width: 80vw;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#title {
  //height: 20vh;
  max-width: 80vw;
}

#restart {
  display: none;
}

body {
  background-color: colours.$drySage;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
#game-info {
  margin: 0;
}

.card-container {
  margin: 5px;
  perspective: 1000px;
  width: 20%;
  aspect-ratio: 3 / 4;
  background-color: transparent;
}

.card-inner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: url("images/back.png") no-repeat;
  background-size: cover;
  color: black;
}

.card-back {
  color: white;
  transform: rotateY(180deg);
  &__img {
    background-size: cover;
  }
}

button {
  border: none;
}
